/* src/components/Footer.css */
.footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 0 0 5px #39FF14;
    display: flex;
    justify-content: center; /* Center the overall content */
    align-items: center;
  }
  
  .footer-left {
    position: absolute;
    left: 1rem;
    margin: 0;
  }
  
  .footer-center {
    color: #39FF14;
    text-decoration: none;
    font-size: 1rem;
  }
  