.pixel-card {
  cursor: pointer;
  background-color: #111;
  border: 3px solid #39FF14;
  color: #fff; 
  font-family: 'Press Start 2P', sans-serif;
  box-shadow: 0 0 8px #39FF14;
  transition: transform 0.2s, box-shadow 0.2s;
}

  
  .pixel-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #39FF14;
  }
  
  .card-img-top {
    border-bottom: 3px solid #39FF14;
    image-rendering: pixelated;
  }
  
  .btn-outline-secondary {
    color: #39FF14;
    border-color: #39FF14;
    font-family: 'Press Start 2P', sans-serif;
  }
  
  .btn-outline-secondary:hover {
    background-color: #39FF14;
    color: #000;
  }  

 
.card-title {
  font-weight: bold;
  text-shadow: 0 0 5px #39FF14;
}


